.title {
    font-size: 2em;
}

.selected {
    font-size: 8em;
    margin: 64px;
}

button {
    width: 15%;
}

.ot {
    width: 100%;
    height: 90vh;
    border: 1px solid #FF6600;
    text-align: center;
    margin: 0 auto;
}

.ot:before {
    content: '';
    display: inline-block;
    vertical-align: middle ;
    height: 100%;
}

.wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    
    .title {
        font-size: 2em;
    }
    
    .selected {
        font-size: 3em;
    }
    
}